.section-gallery {
  padding-top: 30px;
}

.gallery,
.stats {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  width: 100%;
  justify-content: center;
  @media screen and (min-width: 1417px) {
    margin-left: -10px;
  }
}

.gallery-link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid #4db6ac;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0 8px 16px #4db6ac, 0 8px 16px #b2dfdb;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #b2dfdb;
}

.photo-card_image {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.stats {
  padding: 10px;
  justify-content: space-around;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 14px;
}

.stats-item:not(:first-child) {
  margin-left: 5px;
}

.pagination {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  border: 0;
  padding: 0.5rem;
  border-radius: 8px;
  transition: 0.2s;
  background: #455a64;
  color: white;
  font-size: 14px;
  width: auto;
  height: 100%;
}

.load-more:focus,
.load-more:hover {
  outline: 0;
  background: #6d90a0;
}

// .scrollToTop {
// }

#scrollTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
