.section-gallery {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 60px;
  justify-content: center;
}

.gallery-link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 1px solid #4db6ac;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0 12px 26px #4db6ac, 0 8px 8px #b2dfdb;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #b2dfdb;
}

.photo-card-image {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}
